<!DOCTYPE html>
<html>
  <head>
    <title>Ei Corps</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>LOGIN</p>
    <div class="row">
      <form action="/new" method="post">
        <label >Username</label><br>
        <input type="text" name="username" autocomplete="off" placeholder="example : jason@email.com"><br>
        <label >password</label><br>
        <input type="password" name="password"><br>
        <button type="submit">Login</button>
        <p><a href="/sign-up">SignUp</p>
      </form>
    </div>
  </body>
</html>
