<% include partials/header %>
    <h1><%= title %></h1>
    <p>Welcome to Login Trial</p>
    <form action="/users" method="post">
      <label>Username: </label><br>
      <input type="text" name="username" value=""><br>
      <label>Password: </label><br>
      <input type="password" name="password" value=""><br><br>
      <input type="submit" class="btn btn-default" name="" value="Login">
      <a href="/register" class="btn btn-default">REGISTER</a>
    </form>
<% include partials/footer %>
