<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>login</h1>
    <form action="users/login" method="post">
        username:<br>
        <input class:"input" type="text" name="username" value="">
        <br> password:<br>
        <input class:"input" type="password" name="password" value="">
        <br><br>
        <input type="submit" value="login">
    </form>
    <a href="users/register/new"><button type="button">register</button></a>
  </body>
</html>
