<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register Page</title>
  </head>
  <body>

    <form class="" action="/create" method="post">
      <label>Username : <input type="text" name="username"></label><br><br>
      <label>Email : <input type="text" name="email"></label><br><br>
      <label>Password : <input type="text" name="password"></label><br><br>
      <label>Retype Password : <input type="text" name="rePassword"></label><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
