<!DOCTYPE html>
<html>
  <head>
    <title>Ei Corps</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User page</h1>
    <p>Welcome to Ei Corps</p>
  </body>
</html>
