<% include ../partials/header %>
    <div class="container">
      <div class="row">
        <div class="title" style="text-align: center;">
          <h1>Sayonara!</h1>
        </div>
        <br>
        <hr>
        <form action="/users/out" method="get">
          <button type="submit" class="btn btn-primary" >Log out</button>
        </form>
      </div>
    </div>
<% include ../partials/footer %>
